<a href="https://colab.research.google.com/github/nlp2bok/fintech_/blob/wsy_dev/ClosingPrice_Calculate2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. 콜금리 데이터에서 제외된 주말/공휴일 값은 전날 값으로 채워준다.

In [0]:
#20180101~20181231
import pandas as pd

In [0]:
dt_index = pd.date_range(start='20180101', end='20181231')
dt_list = dt_index.strftime("%Y.%m.%d").tolist()

myCalendar = pd.DataFrame(columns = ["date"])

In [0]:
values = []
for i in dt_list:
    values.append(i)

In [0]:
myCalendar["date"] = values

In [0]:
mycall = pd.read_csv("new_call_rate2018.csv", encoding="utf-8")
mycall = mycall.sort_values("date")

FileNotFoundError: ignored

In [0]:
mydict = mycall.set_index('date').to_dict()['jongga']

In [0]:
len(mydict)

3232

In [0]:
mylist = []
fData = ''
cnt = 0
for date in myCalendar["date"]:
    #데이터가 있음
    if date in mydict :
        fData = mydict[date]
        mylist.append(fData)
        cnt +=1
        continue
    else:
        mylist.append(fData)
        #print(str(date) + "false")
        
print(cnt)

3232

In [0]:
myCalendar['cPrice'] = mylist

In [0]:
#2004년 데이터로 20050101, 20050102로 채워준다.
#myCalendar['cPrice'][0] =3.27
#myCalendar['cPrice'][1] =3.27

In [0]:
myCalendar.to_csv("/Users/minhyeon/Desktop/cPrice.csv", header=True, index=False)

In [0]:
df = pd.read_csv("cPrice.csv", encoding = 'utf-8')

In [0]:
#df.head()
#3.26
df['cPrice'][31]
3.29-3.26

0.03000000000000025

#2. 콜금리 데이터를 한달 전 데이터 값을 빼서 변화율을 구한다.

In [0]:
cPrice2 = []
for i, row in myCalendar.iterrows():
    if i<31 :
        cPrice2.append(0)
    else:
        cp1 = myCalendar['cPrice'][i]
        cp2 = myCalendar['cPrice'][i-30]
        cPrice2.append(float(cp1)-float(cp2))

In [0]:
len(cPrice2)

4779

In [0]:
myCalendar['cal_cPrice'] = cPrice2

In [0]:
myCalendar.head(100)

          date  cPrice  cal_cPrice
0   2004.12.01    3.26        0.00
1   2004.12.02    3.26        0.00
2   2004.12.03    3.26        0.00
3   2004.12.04    3.26        0.00
4   2004.12.05    3.26        0.00
5   2004.12.06    3.23        0.00
6   2004.12.07    3.19        0.00
7   2004.12.08    3.27        0.00
8   2004.12.09    3.27        0.00
9   2004.12.10    3.28        0.00
10  2004.12.11    3.28        0.00
11  2004.12.12    3.28        0.00
12  2004.12.13    3.28        0.00
13  2004.12.14    3.28        0.00
14  2004.12.15    3.28        0.00
15  2004.12.16    3.28        0.00
16  2004.12.17    3.28        0.00
17  2004.12.18    3.28        0.00
18  2004.12.19    3.28        0.00
19  2004.12.20    3.29        0.00
20  2004.12.21    3.20        0.00
21  2004.12.22    3.19        0.00
22  2004.12.23    3.28        0.00
23  2004.12.24    3.29        0.00
24  2004.12.25    3.29        0.00
25  2004.12.26    3.29        0.00
26  2004.12.27    3.29        0.00
27  2004.12.28    3.27        0.00
28  2004.12.29    3.26        0.00
29  2004.12.30    3.28        0.00
..         ...     ...         ...
70  2005.02.09    3.18       -0.09
71  2005.02.10    3.18       -0.10
72  2005.02.11    3.27        0.00
73  2005.02.12    3.27       -0.01
74  2005.02.13    3.27        0.01
75  2005.02.14    3.26        0.00
76  2005.02.15    3.26        0.00
77  2005.02.16    3.26        0.01
78  2005.02.17    3.27        0.02
79  2005.02.18    3.26        0.01
80  2005.02.19    3.26        0.03
81  2005.02.20    3.26        0.07
82  2005.02.21    3.26        0.07
83  2005.02.22    3.22        0.03
84  2005.02.23    3.28        0.03
85  2005.02.24    3.27        0.02
86  2005.02.25    3.28        0.02
87  2005.02.26    3.28        0.04
88  2005.02.27    3.28        0.03
89  2005.02.28    3.28        0.03
90  2005.03.01    3.28        0.03
91  2005.03.02    3.28        0.02
92  2005.03.03    3.27        0.01
93  2005.03.04    3.25        0.00
94  2005.03.05    3.25       -0.01
95  2005.03.06    3.25        0.03
96  2005.03.07    3.17       -0.05
97  2005.03.08    3.27        0.05
98  2005.03.09    3.27        0.09
99  2005.03.10    3.26        0.08

[100 rows x 3 columns]

#3. 콜금리 변화값이 양수면 +, 음수면 -, 변화 없으면 0으로 라벨을 붙인다.

In [0]:
myValues = []
for c in cPrice2:
    if c>0:
        myValues.append('+')
    elif c==0 :
        myValues.append("0")
    else:
        myValues.append('-')

In [0]:
myCalendar['values'] = myValues

In [0]:
myCalendar.head()

         date  cPrice  cal_cPrice values
0  2004.12.01    3.26         0.0      0
1  2004.12.02    3.26         0.0      0
2  2004.12.03    3.26         0.0      0
3  2004.12.04    3.26         0.0      0
4  2004.12.05    3.26         0.0      0

In [0]:
myCalendar.to_csv("/Users/minhyeon/Desktop/cPrice_final.csv", header=True, index=False)

In [0]:
myCalendar.head()

         date  cPrice  cal_cPrice values
0  2004.12.01    3.26         0.0      0
1  2004.12.02    3.26         0.0      0
2  2004.12.03    3.26         0.0      0
3  2004.12.04    3.26         0.0      0
4  2004.12.05    3.26         0.0      0

In [0]:
print(myCalendar[4700:4750])

            date  cPrice  cal_cPrice values
4700  2017.10.14    1.25       -0.01      -
4701  2017.10.15    1.25        0.00      0
4702  2017.10.16    1.25        0.00      0
4703  2017.10.17    1.24       -0.01      -
4704  2017.10.18    1.24       -0.01      -
4705  2017.10.19    1.24        0.00      0
4706  2017.10.20    1.24       -0.01      -
4707  2017.10.21    1.24       -0.01      -
4708  2017.10.22    1.24       -0.01      -
4709  2017.10.23    1.24       -0.01      -
4710  2017.10.24    1.24       -0.01      -
4711  2017.10.25    1.24       -0.02      -
4712  2017.10.26    1.25        0.00      0
4713  2017.10.27    1.24       -0.02      -
4714  2017.10.28    1.24       -0.02      -
4715  2017.10.29    1.24       -0.03      -
4716  2017.10.30    1.23       -0.04      -
4717  2017.10.31    1.26       -0.01      -
4718  2017.11.01    1.24       -0.03      -
4719  2017.11.02    1.24       -0.03      -
4720  2017.11.03    1.24       -0.03      -
4721  2017.11.04    1.24       -0.03      -
4722  2017.11.05    1.24       -0.03      -
4723  2017.11.06    1.23       -0.04      -
4724  2017.11.07    1.25       -0.02      -
4725  2017.11.08    1.23       -0.04      -
4726  2017.11.09    1.24       -0.02      -
4727  2017.11.10    1.24        0.00      0
4728  2017.11.11    1.24       -0.01      -
4729  2017.11.12    1.24       -0.01      -
4730  2017.11.13    1.25        0.00      0
4731  2017.11.14    1.24       -0.01      -
4732  2017.11.15    1.24       -0.01      -
4733  2017.11.16    1.24        0.00      0
4734  2017.11.17    1.24        0.00      0
4735  2017.11.18    1.24        0.00      0
4736  2017.11.19    1.24        0.00      0
4737  2017.11.20    1.25        0.01      +
4738  2017.11.21    1.25        0.01      +
4739  2017.11.22    1.24        0.00      0
4740  2017.11.23    1.25        0.01      +
4741  2017.11.24    1.25        0.01      +
4742  2017.11.25    1.25        0.00      0
4743  2017.11.26    1.25        0.01      +
4744  2017.11.27    1.26        0.02      +
4745  2017.11.28    1.26        0.02      +
4746  2017.11.29    1.26        0.03      +
4747  2017.11.30    1.53        0.27      +
4748  2017.12.01    1.53        0.29      +
4749  2017.12.02    1.53        0.29      +